

<a href="#/faults">Go Back</a>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">添加最新故障</h3>
  </div>
  <div class="panel-body">
    <div class="row">
<!--     		title: fault.title,
		level: fault.level,
		number:fault.number,
		description:fault.description,
		machine_type:fault.machine_type,
		location:fault.location,
		factory:fault.factory,
		occur_date:fault.occur_date,
		manu_man_name:fault.manu_man_name,
		manu_man_tel:fault.manu_man_tel,
		image_url:fault.image_url -->
    	<div class="col-md-12">
			<form role="form" ng-submit="updateFault()" ng-init="getFault()">
			  <div class="form-group">
			    <label>故障名称</label>
			    <input type="Text" class="form-control" placeholder="请输入故障名称" ng-model="fault.title">
			  </div>
			  <div class="form-group">
			    <label>故障编号</label>
			    <input type="Text" class="form-control" placeholder="请输入故障编号" ng-model="fault.number">
			  </div>


	        <div class="form-group">
	          <label>故障部位</label>
	          <input type="text" class="form-control" ng-model="fault.location" placeholder="请输入故障部位">
	        </div>
	        <div class="form-group">
	          <label>故障严重等级</label>
	          <select class="form-control" ng-model="fault.level">
			    	<option value="轻微">轻微</option>
		            <option value="较为严重">较为严重</option>
		            <option value="严重">严重</option>
		            <option value="很严重">很严重</option>
		            <option value="非常严重">非常严重</option>
			    </select>
	        </div>
	        <div class="form-group">
	          <label>机床型号</label>
	          <input type="text" class="form-control" ng-model="fault.machine_type" placeholder="请输入故障部位">
	        </div>
	        <div class="form-group">
	          <label>故障机床所在工厂</label>
	          <input type="text" class="form-control" ng-model="fault.factory" placeholder="请输入故障机床所在工厂">
	        </div>
	        <div class="form-group">
	          <label>故障详细描述</label>
	          <textarea class="form-control" ng-model="fault.description" placeholder="请输入故障详细描述"></textarea>
	        </div>
	        <div class="form-group">
	          <label>故障发生时间</label>
	          <input type="date" class="form-control" ng-model="fault.occur_date"></input>
	        </div>
	        <div class="form-group">
	          <label>故障图片地址</label>
	          <input type="text" class="form-control" ng-model="fault.image_url" placeholder="请输入故障故障图片地址">
	        </div>
	        <div class="form-group">
	          <label>操作人员姓名</label>
	          <input type="text" class="form-control" ng-model="fault.manu_man_name" placeholder="请输入操作人员姓名">
	        </div>
	        <div class="form-group">
	          <label>操作人员联系电话</label>
	          <input type="text" class="form-control" ng-model="fault.manu_man_tel" placeholder="请输入操作人员联系电话">
	        </div>
			  <button type="submit" class="btn btn-primary">提交</button>
			</form>
		</div>
    </div>
  </div>
</div>
