<div class="panel panel-default" ng-init="getFaults()">
  <div class="panel-heading">
    <h3 class="panel-title">最新故障</h3>
  </div>
  <div class="panel-body">
    <div class="row">
    	<div ng-repeat="fault in faults">
    		<div class="col-md-6" id="fixHeight">
    			<div class="col-md-6">
    				<h4>{{fault.title}}</h4>
					<ul class="list-group">
						<li class="list-group-item">故障编号: {{fault.number}}</li>
						<li class="list-group-item">故障严重等级: {{fault.level}}</li>
						<li class="list-group-item">发生工厂: {{fault.factory}}</li>
						<!--<li class="list-group-item">机床型号: {{fault.machine_type}}</li>-->
						<!--<li class="list-group-item">故障部位: {{fault.location}}</li>-->
						<!--<li class="list-group-item">发生时间: {{fault.occur_date}}</li>-->
						<!--<li class="list-group-item">操作人员: {{fault.manu_man_name}}</li>-->
						<!--<li class="list-group-item">操作人员电话: {{fault.manu_man_tel}}</li>-->
					</ul>
    				<a class="btn btn-primary" href="#/faults/detail/{{fault._id}}" id="detailButton">查看详情</a>
    			</div>
    			<div class="col-md-6">
    				<img class="thumbnail" src="{{fault.image_url}}">
    			</div>
    		</div>
    	</div>
    </div>
  </div>
</div>





